__pycache__/
data/   
models/
segmentation/__pycache__/
preprocess/captions/wiki.en.vec
preprocess/captions/wiki.en.bin
preprocess/captions/wiki.en.zip
evaluation/fid/__pycache__/
evaluation/fid/fid_stats.npz
evaluation/fid/fid.pyc
evaluation/inception_score/__pycache__/
evaluation/inception_score/inception_finetuned_models/
evaluation/inception_score/inception/slim/__pycache__/
evaluation/disentanglement/samples/
evaluation/neudist/neudist_birds/
evaluation/neudist/neudist_birds/
evaluation/disentanglement/samples*
gan/*.pyc
gan/neuralDist/*.pyc
gan/proj_utils/*.pyc
gan/proj_utils/__pycache__/
gan/__pycache__/
gan/neuralDist/__pycache__/
gan/neuralDist/pretrainedmodels/
sampling/local_files
segmentation/checkpoints/checkpoint590.pt
requirements.txt
results.txt
results/
